
<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a
        class="list-group-item list-group-item-action active"
        id="list-home-list"
        data-bs-toggle="list"
        href="#list-home"
        role="tab"
        aria-controls="list-home"
        >Blogs</a
      >
      <a
        class="list-group-item list-group-item-action"
        id="list-profile-list"
        data-bs-toggle="list"
        href="#list-profile"
        role="tab"
        aria-controls="list-profile"
        >Profile</a
      >
      <a
        class="list-group-item list-group-item-action"
        id="list-messages-list"
        data-bs-toggle="list"
        href="#list-messages"
        role="tab"
        aria-controls="list-messages"
        >Messages</a
      >
      <a
        class="list-group-item list-group-item-action"
        id="list-settings-list"
        data-bs-toggle="list"
        href="#list-settings"
        role="tab"
        aria-controls="list-settings"
        >Settings</a
      >
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="list-home"
        role="tabpanel"
        aria-labelledby="list-home-list"
      >
        <div *ngIf="!isForm">
          <input class="btn btn-primary" type="button" value="Add" (click)="addBlog()">
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Titulo</th>
                <th scope="col">Creado</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listPost" >
                <th scope="row">{{item.id}}</th>
                <td>{{item.title}}</td>
                <td>{{item.dateTime | date}}</td>
                <td>
                  <input
                    class="btn btn-primary"
                    type="button"
                    value="Update"
                    (click)="update(item)"
                  />
                  <input 
                      class="btn btn-danger" 
                      type="button" 
                      (click)="delete(item.id)"
                      value="Delete" />
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <app-blog-from *ngIf="isForm" [isPadre]="isForm" [pots]="post" (isVisible)="visible($event)"  (IsUpdate)="get()"></app-blog-from>
      </div>
      <div
        class="tab-pane fade"
        id="list-profile"
        role="tabpanel"
        aria-labelledby="list-profile-list"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="list-messages"
        role="tabpanel"
        aria-labelledby="list-messages-list"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="list-settings"
        role="tabpanel"
        aria-labelledby="list-settings-list"
      >
        ...
      </div>
    </div>
  </div>
</div>

